In [1]:
import pandas as pd

In [4]:
train_df = pd.read_csv('dataset/CSV/vn_news_223_tdlfr.csv')
train_df.head(5)

,text,domain,label
0,Thủ tướng Abe cúi đầu xin lỗi vì hành động phi...,binhluan.biz,1
1,Thủ tướng Nhật cúi đầu xin lỗi vì tinh thần ph...,www.ipick.vn,1
2,Choáng! Cơ trưởng đeo khăn quàng quẩy banh nóc...,tintucqpvn.net,1
3,Chưa bao giờ nhạc Kpop lại dễ hát đến thế!!!\n...,tintucqpvn.net,1
4,"Đại học Hutech sẽ áp dụng cải cách ""Tiếq Việt""...",www.gioitreviet.net,1

In [7]:
train_df.drop(labels=['domain'], axis=1, inplace=True)

In [9]:
train_df, test_df = train_test_split(train_df, test_size=0.2)

In [10]:
train_df.head()

                                                  text  label
11   Không đủ tiền tiêu hủy, Chi cục Thú y đề nghị ...      1
72   Muốn tiền vào như nước, nhớ đừng để thứ này tr...      1
165  Người Hà Nội chen chân chụp ảnh trong vườn cúc...      0
174  Máy bay quay đầu để cấp cứu sản phụ người nước...      0
118  Khán giả phố đi bộ Nguyễn Huệ cuồng nhiệt cổ v...      0

In [11]:
test_df.head()

                                                  text  label
32   Đi cả đêm mới về, bà mẹ tá hoả thấy mặt con bị...      1
152  Khởi tố ông Nguyễn Hoài Nam - bí thư Quận ủy Q...      0
1    Thủ tướng Nhật cúi đầu xin lỗi vì tinh thần ph...      1
157  Lao động nước ngoài ở Việt Nam phải đóng bảo h...      0
144  Chủ đầu tư nói gì về chuyện BOT An Sương - An ...      0

In [12]:
train_df.to_csv('dataset/train.csv', index=False)

In [13]:
test_df.to_csv('dataset/test.csv', index=False)